<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Capacitor 3 / Mapbox bug (iOS only)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Capacitor / Mapbox bug</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Map without click events</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>The map does not listen to click events, you can tap on the map and it does not crash.</p>
      <ion-button [routerLink]="'/no-click-event'" color="success">Go to map page</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Map with click events</ion-card-title>
      <ion-card-subtitle>This is the case where the bug will manifest itself on iOS</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>The map listens to click events. When clicking or tapping on the map, the Mapbox event handler will not be executed, instead Capacitor will output an error.</p>
      <ion-button [routerLink]="'/with-click-event'" color="danger">Go to map page</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>